body{
  margin:0;
  font-family:Arial,sans-serif;
  background:#f4f4f4;
}

.login-container{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh;
}

.login-box{
  width:380px;
  background:white;
  padding:30px;
  border-radius:15px;
  box-shadow:0 0 20px rgba(0,0,0,0.15);
  text-align:center;
}

.title{
  font-size:38px;
  font-weight:bold;
  color:#222;
  margin-bottom:5px;
}

.subtitle{
  font-size:16px;
  color:#5a4bff;
  margin-bottom:20px;
}

.user-icon{
  width:80px;
  height:80px;
  display:block;
  margin:15px auto;
}

.login-box h2{
  color:#222;
  margin:15px 0;
}

.login-box label{
  display:block;
  text-align:left;
  margin:10px 0 5px;
  font-weight:bold;
}

.login-box input{
  width:100%;
  padding:12px;
  border:1px solid #ccc;
  border-radius:8px;
  box-sizing:border-box;
  margin-bottom:15px;
}

.forgot{
  text-align:right;
  color:#5a4bff;
  font-size:14px;
  cursor:pointer;
  margin-bottom:15px;
}

.login-box button{
  width:100%;
  padding:12px;
  border:none;
  border-radius:8px;
  background:#5a4bff;
  color:white;
  font-size:16px;
  cursor:pointer;
}

.divider{
  margin:20px 0;
  font-weight:bold;
}

.login-box a{
  color:#5a4bff;
  text-decoration:none;
  font-weight:bold;
}
.checkbox{
  display:flex;
  align-items:center;
  gap:8px;
  font-size:14px;
  margin:15px 0;
  text-align:left;
}

.checkbox input{
  width:auto;
  margin:0;
}